// -------------------------------------------------------------
// 13.0 Layout
// -------------------------------------------------------------

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	background: $color-body-background;
}

#page {
	position: relative;
	word-wrap: break-word;
}

.wrap {
	margin-left: auto;
	margin-right: auto;
}


.site-content {
	margin-top: 50px;
}

main.site-main {

}

// Grid